@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
	//colors
	--color--orange: #1b1c1e;
	--color--blue: #0c0c0c;
	--color--light-blue: #1d1e25;
	--color--para: #4e4e4eea;

	//weights
	--weight-light: 300;
	--weight-regular: 500;
	--weight-bold: 700;
}
ul {
	list-style: none;
}

//breakpoints
$bp-mobile: 670px;
$bp-tablet: 1024px;

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	position: fixed;
	width: 100%;
	height: 6.4rem;
	background-color: #fff;
	z-index: 10;
	box-shadow: rgba(189, 189, 189, 0.7) 0px 10px 30px -10px;
	a {
		border-bottom: transparent;
		color: #1b1c1e;
	}
	@media only screen and (max-width: $bp-mobile) {
		position: relative;
	}
	nav {
		@media only screen and (max-width: $bp-mobile) {
			width: 100%;
			margin: 0 auto;
		}
	}
	.container {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		position: relative;
		height: 6.4rem;
		width: 100%;
		max-width: 980px;
		margin: 0 auto;
		@media only screen and(max-width:$bp-mobile) {
			display: none;
		}
		@media only screen and (max-width: 1200px) {
			width: 80%;
		}
	}
	@media only screen and(max-width:$bp-mobile) {
		display: flex;
		position: relative;
		height: 9.6rem;
		padding-right: 4rem;
		padding-left: 4rem;
		justify-content: space-between;
		align-items: center;
	}
	@media only screen and(max-width:$bp-tablet) {
		margin: 0 auto;
	}
	@media (min-width: 1200px) {
		padding: 0;
	}
	.logo {
		height: 2rem;
		img {
			width: 100%;
		}
		@media only screen and(max-width:$bp-mobile) {
			height: 2.9rem;
		}
	}
	.nav__items {
		display: flex;
		align-items: center;
		width: 50%;
		justify-content: space-between;
		.nav__item {
			color: #1b1c1e;
			&:nth-child(2) {
				margin: 0 3.2rem;
			}
		}
	}
	.mobile {
		display: none;
		@media only screen and (max-width: $bp-mobile) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.hamburger {
			width: 3rem;
			height: 3rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			.line {
				width: 100%;
				height: 0.2rem;
				background-color: #1b1c1e;
				margin: 0;
				padding: 0;
			}
			.line1,
			.line2,
			.line3 {
				transition: all 0.2s ease-in;
			}

			.line1.show {
				transform: translate(0px, 12px) rotate(405deg);
				animation: slant 0.2s;
			}

			.line2.show {
				transform: scale(0);
			}

			.line3.show {
				transform: translate(0px, -15px) rotate(-405deg);
			}
		}
		.mobile__nav__items {
			display: none;
		}
		.mobile__nav__items.show {
			display: flex;
			background-color: #1b1c1e;
			color: white;
			margin-left: 0px;
			//transform: translateX(0px);
			justify-content: space-evenly;
			position: absolute;
			bottom: calc(-90vh + 6.4rem);
			left: 0;
			width: 100vw;
			height: calc(90vh - 6.4rem);
			flex-direction: column;
			align-items: center;
			a {
				color: white;
				border-bottom: 1px solid white;
			}
		}
	}
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	font-size: 1.5rem;
	background-color: var(--color-white);
	overflow-x: hidden;
	color: var(--color--light-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.icon {
	width: 2rem;
	margin-right: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color--blue);
}

.t-h1 {
	font-weight: var(--weight-bold);
	line-height: 1;
	font-size: 4.8rem;
	letter-spacing: -1.79px;
	padding-bottom: 1rem;
	font-weight: 500;
}

.t-h2 {
	font-weight: var(--weight-bold);
	font-size: 4.8rem;
	letter-spacing: -1.43px;
	line-height: 1;
	padding-bottom: 1rem;
	font-weight: 500;
}

.t-h3 {
	font-weight: var(--weight-bold);
	font-size: 3.6rem;
	letter-spacing: -1.07px;
	line-height: 28px;
	padding-bottom: 1rem;
	font-weight: 500;
}

.t-h4 {
	font-weight: var(--weight-bold);
	font-size: 2rem;
	letter-spacing: -0.89px;
	line-height: 1.4;
	padding: 1rem 0rem;
}

a {
	text-decoration: none;
	color: var(--color--light-blue);
	border-bottom: 2px var(--color--orange) dotted;
}

p {
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 1.4;
	color: #3c3c3c;
}

.btn {
	text-decoration: none;
	border: none;
	cursor: pointer;
	font-weight: var(--weight-bold);
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	line-height: 1.667;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5.3rem;
	width: 18rem;
}

.btn-orange {
	background-color: var(--color--orange);
	border: 3px solid transparent;
	color: white;
	margin-top: 2rem;
	transition: all 0.2s ease-in;
	&:hover,
	&:focus {
		outline: none;
		color: var(--color--orange);
		background-color: transparent;
		border-color: var(--color--orange);
	}
}

.contact {
	width: 100%;
	min-height: 30rem;
	overflow: hidden;
	padding: 10rem 0rem;
	&__container {
		width: 100%;
		max-width: 980px;
		margin: 0 auto;
		padding: 10rem;
		padding-top: 0rem;
		@media only screen and (max-width: $bp-mobile) {
			width: 90%;
			padding: 10rem 0rem;
		}
		text-align: center;
	}
	&__header {
		position: relative;
		display: inline-block;
		z-index: 1;
		cursor: pointer;
		&::after {
			content: ' ';
			height: 30%;
			width: 70%;
			position: absolute;
			bottom: -2px;
			left: -2px;
			left: 0;
			background-color: #c7ceea;
			z-index: -1;
			transition: all 0.1s ease-in;
		}
		&:hover::after {
			content: ' ';
			height: 120%;
			width: 110%;
			position: absolute;
			bottom: -2px;
			left: -2px;
			left: 0;
			background-color: #c7ceea;
			z-index: -1;
		}
	}
	p {
		font-size: 2.5rem;
		line-height: 1.2;
		padding: 1rem 0rem;
		color: #425466;
		@media only screen and (max-width: $bp-mobile) {
			font-size: 2rem;
			text-align: center;
		}
	}
	.btn-orange {
		background-color: #9e89ff;
		color: white;
		display: inline-block;
		padding: 2rem 4rem;
		margin: 2rem auto;
		border: 3px solid transparent;
		transition: var(--transition);
		&:hover {
			color: #9e89ff;
			border: 3px solid #9e89ff;
			background-color: white;
		}
	}
}

footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5rem;
	nav {
		width: 100%;
	}
	a {
		border-bottom: transparent;
	}
	.container {
		width: 50%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		margin: 0 auto;
	}
	.bragging p {
		padding-top: 4rem;
		font-weight: var(--weight-regular);
		color: #1b1c1e;
	}
}

.screen-reader-only {
	padding: 0;
	width: 1px;
	height: 1px;
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	border: 0;
}

#resume {
	padding: 1rem 3rem;
	border: 2px solid #1b1c1e;
	transition: all 0.2s ease-in;
	&:hover {
		color: white;
		background-color: #1b1c1e;
	}
}

// .overlapping {
// 	max-width: 100px;
// 	display: flex;
// 	position: relative;
// 	font-size: var(--weight-bold);
// 	z-index: 2;
// 	align-items: center;
// 	background: chocolate;
// 	img {
// 		max-width: 50%;
// 	}
// 	h1 {
// 		color: #b9b9b991;
// 	}
// 	div {
// 		color: #000000;
// 		position: absolute;
// 		left: 50%;
// 		z-index: 1;
// 		bottom: 0;
// 		font-size: var(--weight-regular);
// 	}
// }

.intro {
	width: 100%;
	padding: 10rem 0rem;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 80%;
		max-width: 980px;
		margin: auto;
	}
	&__copy {
		width: 45%;
	}
	p {
		padding: 0.5rem 0rem;
		font-weight: 400;
	}
}

.overlapping {
	display: flex;
	align-items: center;
	&__text {
		position: relative;
	}
	h3 {
		font-size: 7.2rem;
		color: #1b1c1e;
		opacity: 30%;
		font-weight: 700;
	}
	img {
		max-height: 3rem;
		padding-right: 1rem;
	}
	.text {
		position: absolute;
		left: 50%;
		bottom: 0;
		display: inline-block;
		p {
			line-height: 2rem;
			color: #1b1c1e;
			font-size: 3.6rem;
			padding: 0;
			margin: 0;
		}
	}
}

.discovery {
	width: 100%;
	padding: 5rem 0rem;
	padding-bottom: 2rem;
	&__container {
		width: 80%;
		max-width: 980px;
		margin: auto;
	}
}

.empathy {
	width: 100%;
	padding: 2rem 0rem;
	text-align: center;
	&__container {
		width: 80%;
		max-width: 980px;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	img {
		width: 100%;
	}
	h3 {
		padding-bottom: 2rem;
	}
	p {
		padding-bottom: 4rem;
	}
	&__copy {
		width: 55%;
	}
}

.decon {
	width: 100%;
	padding: 5rem 0rem;
	text-align: center;
	&__container {
		width: 80%;
		max-width: 980px;
		margin: auto;
	}
	&__copy {
		width: 75%;
		margin: auto;
	}
}

.user-review {
	width: 100%;
	padding: 5rem 0rem;
	&__container {
		width: 80%;
		max-width: 980px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__copy {
		width: 50%;
	}
	.c {
		padding: 1rem 0rem;
	}
	&__img {
		width: 45%;
		img {
			width: 100%;
		}
	}
}

.usability {
	width: 100%;
	padding: 5rem 0rem;
	&__container {
		width: 80%;
		max-width: 980px;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	&__copy {
	}
	&__image {
		padding-top: 2rem;
		img {
			max-width: 100%;
		}
	}
	p {
		font-size: 1.8rem;
	}
	.c {
		padding: 0.5rem 0rem;
	}
	.a {
		padding: 0.2rem 0rem;
	}
}

.understand {
	width: 100%;
	padding: 5rem 0rem;
	&__container {
		width: 80%;
		max-width: 980px;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	&__copy {
		width: 65%;
		text-align: center;
	}
}

.competetion {
	width: 100%;
	padding: 5rem 0rem;
	&__container {
		width: 80%;
		max-width: 980px;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	img {
		max-width: 100%;
	}
	&__copy {
		text-align: center;
		width: 65%;
	}
}

.problem {
	width: 100%;
	padding: 5rem 0rem;
	img {
		max-width: 100%;
	}
	&__container {
		width: 80%;
		max-width: 980px;
		margin: auto;
		justify-content: center;
		align-items: center;
	}
	&__copy {
		text-align: center;
		width: 65%;
		margin: auto;
	}
}

.design {
	width: 100%;
	padding: 5rem 0rem;
	h3 {
		text-align: center;
	}
	&__container {
		width: 80%;
		max-width: 980px;
		margin: auto;
	}
	.card {
		display: grid;
		grid-template-columns: 45% 45%;
		align-items: center;
		padding: 2rem 0rem;
		grid-gap: 50px;
		&__container {
		}
		img {
			max-width: 100%;
		}
		.t-p {
			padding: 0.5rem 0rem;
		}
	}
}

.wireframes {
	width: 100%;
	padding: 5rem 0rem;
	text-align: center;
	&__container {
		width: 65%;
		max-width: 980px;
		margin: auto;
		text-align: center;
	}
	img {
		width: 100%;
		max-width: 980px;
		margin: auto;
	}
}

.prototype {
	width: 100%;
	padding: 5rem 0rem;
	&__container {
		width: 80%;
		max-width: 980px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.testing {
	width: 100%;
	padding: 5rem 0rem;
	&__container {
		width: 80%;
		max-width: 980px;
		margin: auto;
	}
	img {
		max-width: 100%;
	}
	.t-p {
		padding: 1rem 0rem;
	}
}

.hi-fi {
	width: 100%;
	padding: 5rem 0rem;
	&__container {
		width: 80%;
		max-width: 980px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__copy {
		width: 45%;
	}
}

.lessons {
	width: 100%;
	padding: 5rem 0rem;
	.container {
		max-width: 980px;
		width: 100%;
		margin: auto;
	}
	.t-p {
		padding: 0.5rem 0rem;
	}
}
