.hero {
	width: 100%;
	height: 90vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	&__container {
		width: 100%;
		max-width: 1152px;
		margin: 0 auto;
		padding: 10rem;
		display: flex;
		justify-content: space-between;
		padding-top: 20rem;
		@media only screen and(max-width:$bp-small) {
			text-align: center;
			justify-content: center;
			align-items: center;
			padding: 0rem;
		}
		.t-h1 {
			line-height: 1.2;
			@media only screen and(max-width:$bp-small) {
				font-size: 4rem;
				text-align: center;
			}
			.gradient {
				background-image: url('../images/2.jpg');
				object-fit: cover;
				background-position: center center;
				min-width: 100%;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-repeat: no-repeat;
			}
		}
		.btn {
			display: inline-block;
			padding: 1.5rem 5rem;
			margin-top: 4rem;
			font-size: 2rem;
		}
	}
}

.about {
	width: 100%;
	height: 75rem;
	overflow: hidden;
	&__container {
		width: 100%;
		max-width: 1152px;
		margin: 0 auto;
		padding: 10rem;
		@media only screen and (max-width: $bp-small) {
			width: 90%;
			padding: 10rem 0rem;
		}
	}
	&__header {
		position: relative;
		display: inline-block;
		z-index: 1;
		cursor: pointer;
		&::after {
			content: ' ';
			height: 30%;
			width: 70%;
			position: absolute;
			bottom: -2px;
			left: -2px;
			background-color: #b5dbf8;
			z-index: -1;
			transition: all 0.1s ease-in;
		}
		&:hover::after {
			content: ' ';
			height: 120%;
			width: 110%;
			position: absolute;
			bottom: -2px;
			left: -2px;
			left: 0;
			background-color: #b5dbf8;
			z-index: -1;
		}
	}
	.t-p {
		font-size: 2.4rem;
		padding-top: 2rem;
		line-height: 1.4;
		@media only screen and (max-width: $bp-small) {
			font-size: 2rem;
		}
	}
	.skills__container {
		display: grid;
		width: 100%;
		grid-template-columns: 50% 50%;
		padding: 5rem 0rem;

		.skill {
			&__items {
				li {
					font-weight: 500;
					color: var(--color-copy);
					padding: 0.5rem 0rem;
				}
			}
		}
	}
}

.case__study {
	width: 100%;
	min-height: 75rem;
	overflow: hidden;
	&__container {
		width: 100%;
		max-width: 1152px;
		margin: 0 auto;
		padding: 10rem;
		@media only screen and (max-width: $bp-small) {
			width: 90%;
			padding: 10rem 0rem;
		}
	}
	&__header {
		position: relative;
		display: inline-block;
		z-index: 1;
		cursor: pointer;
		&::after {
			content: ' ';
			height: 30%;
			width: 70%;
			position: absolute;
			bottom: -2px;
			left: -2px;
			left: 0;
			background-color: #f8b3a1;
			z-index: -1;
			transition: all 0.1s ease-in;
		}
		&:hover::after {
			content: ' ';
			height: 120%;
			width: 110%;
			position: absolute;
			bottom: -2px;
			left: -2px;
			left: 0;
			background-color: #f8b3a1;
			z-index: -1;
		}
	}
	.case__study__details {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 4rem 0rem;
		@media only screen and (max-width: $bp-small) {
			padding: 2rem 0rem;
			flex-direction: column;
			text-align: center;
			img {
				width: 100%;
				max-width: 480px;
			}
		}
		h3 {
			padding: 1rem 0rem;
			@media only screen and (max-width: $bp-small) {
				font-size: 3rem;
				text-align: center;
			}
		}
		p {
			font-size: 3rem;
			line-height: 1.2;
			padding: 1rem 0rem;
			color: #425466;
			@media only screen and (max-width: $bp-small) {
				font-size: 2rem;
				text-align: center;
			}
		}
		.btn-orange {
			background-color: #f25f3a;
			color: white;
			display: inline-block;
			padding: 1.5rem 4rem;
			margin: 2rem auto;
			border: 3px solid transparent;
			transition: var(--transition);
			&:hover {
				color: #f25f3a;
				border: 3px solid #f25f3a;
				background-color: white;
			}
		}
	}
}

.design {
	width: 100%;
	min-height: 75rem;
	overflow: hidden;
	&__header {
		position: relative;
		display: inline-block;
		z-index: 1;
		cursor: pointer;
		&::after {
			content: ' ';
			height: 30%;
			width: 70%;
			position: absolute;
			bottom: -2px;
			left: -2px;
			left: 0;
			background-color: #f1b5cc;
			z-index: -1;
			transition: all 0.1s ease-in;
		}
		&:hover::after {
			content: ' ';
			height: 120%;
			width: 110%;
			position: absolute;
			bottom: -2px;
			left: -2px;
			left: 0;
			background-color: #f1b5cc;
			z-index: -1;
		}
	}
	&__container {
		width: 100%;
		max-width: 1152px;
		margin: 0 auto;
		padding: 10rem;
		padding-top: 2rem;
		@media only screen and (max-width: $bp-small) {
			width: 90%;
			padding: 10rem 0rem;
		}
	}
	&__details {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media only screen and (max-width: $bp-small) {
			flex-direction: column-reverse;
			text-align: center;
		}
		img {
			width: 100%;
			max-width: 500px;
			object-fit: cover;
			background-position: center center;
		}
		h3 {
			padding: 1rem 0rem;
			@media only screen and (max-width: $bp-small) {
				font-size: 3rem;
				text-align: center;
			}
		}
		p {
			font-size: 3rem;
			line-height: 1.2;
			padding: 1rem 0rem;
			color: #425466;
			@media only screen and (max-width: $bp-small) {
				font-size: 2rem;
				text-align: center;
			}
		}
		.btn-orange {
			background-color: #ea4c89;
			color: white;
			display: inline-block;
			padding: 1.5rem 4rem;
			margin: 2rem auto;
			border: 3px solid transparent;
			transition: var(--transition);
			&:hover {
				color: #ea4c89;
				border: 3px solid #ea4c89;
				background-color: white;
			}
		}
	}
	&__details {
		padding: 2rem 0rem;
	}
}

.projects {
	width: 100%;
	min-height: 75rem;
	overflow: hidden;
	&__container {
		width: 100%;
		max-width: 1152px;
		margin: 0 auto;
		padding: 10rem;
		@media only screen and (max-width: $bp-small) {
			width: 90%;
			padding: 10rem 0rem;
		}
	}
	&__header {
		position: relative;
		display: inline-block;
		z-index: 1;
		cursor: pointer;
		&::after {
			content: ' ';
			height: 30%;
			width: 70%;
			position: absolute;
			bottom: -2px;
			left: -2px;
			left: 0;
			background-color: #b5ead7;
			z-index: -1;
			transition: all 0.1s ease-in;
		}
		&:hover::after {
			content: ' ';
			height: 120%;
			width: 110%;
			position: absolute;
			bottom: -2px;
			left: -2px;
			left: 0;
			background-color: #b5ead7;
			z-index: -1;
		}
	}
	&__details {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 4rem 0rem;
		@media only screen and (max-width: $bp-small) {
			padding: 2rem 0rem;
			flex-direction: column;
			text-align: center;
			img {
				width: 100%;
			}
		}
		img {
			width: 100%;
			max-width: 576px;
			object-fit: cover;
			background-position: center center;
			padding-right: 5rem;
			@media only screen and (max-width: $bp-small) {
				min-width: 100%;
				padding-right: 0rem;
			}
		}
		h3 {
			padding: 1rem 0rem;
			@media only screen and (max-width: $bp-small) {
				font-size: 3rem;
				text-align: center;
			}
		}
		p {
			font-size: 3rem;
			line-height: 1.2;
			padding: 1rem 0rem;
			color: #425466;
			@media only screen and (max-width: $bp-small) {
				font-size: 2rem;
				text-align: center;
			}
		}
		.btn-orange {
			background-color: #49e9ae;
			color: white;
			display: inline-block;
			padding: 1.5rem 4rem;
			margin: 2rem auto;
			border: 3px solid transparent;
			transition: var(--transition);
			&:hover {
				color: #49e9ae;
				border: 3px solid #49e9ae;
				background-color: white;
			}
		}
	}
}

.contact {
	width: 100%;
	min-height: 30rem;
	overflow: hidden;
	&__container {
		width: 100%;
		max-width: 1152px;
		margin: 0 auto;
		padding: 10rem;
		padding-top: 0rem;
		@media only screen and (max-width: $bp-small) {
			width: 90%;
			padding: 10rem 0rem;
		}
		text-align: center;
	}
	&__header {
		position: relative;
		display: inline-block;
		z-index: 1;
		cursor: pointer;
		&::after {
			content: ' ';
			height: 30%;
			width: 70%;
			position: absolute;
			bottom: -2px;
			left: -2px;
			left: 0;
			background-color: #c7ceea;
			z-index: -1;
			transition: all 0.1s ease-in;
		}
		&:hover::after {
			content: ' ';
			height: 120%;
			width: 110%;
			position: absolute;
			bottom: -2px;
			left: -2px;
			left: 0;
			background-color: #c7ceea;
			z-index: -1;
		}
	}
	p {
		font-size: 2.5rem;
		line-height: 1.2;
		padding: 1rem 0rem;
		color: #425466;
		@media only screen and (max-width: $bp-small) {
			font-size: 2rem;
			text-align: center;
		}
	}
	.btn-orange {
		background-color: #9e89ff;
		color: white;
		display: inline-block;
		padding: 1.5rem 4rem;
		margin: 2rem auto;
		border: 3px solid transparent;
		transition: var(--transition);
		&:hover {
			color: #9e89ff;
			border: 3px solid #9e89ff;
			background-color: white;
		}
	}
}
